* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(fondo\ de\ registro\ y\ login.jpg);
}

.container {
    width: 420px;
    background-color: blueviolet;
    color: #fff;
}

.container h1 {
    font-size: 36 px;
    text-align: center;
}



.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    border: 2px solid rgba (255, 255, 255, 2);
    border-radius: 40px;

}