
*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
   }
   
   body {
       display: flex;
       align-items: center;
       justify-content: center;
       height: 100vh;
       background-image: url(fondo\ de\ registro\ y\ login.jpg);
       background-size: cover;
   }
   .container{
       display: flex;
       border-radius: 20px;
       box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
       height: 500px;
       max-width: 900px;
       transition: all is ease;
       margin: 10px;
       align-items: center;
       justify-content: center;
       width: 40%;
       text-align: center;
       background-color: #f8f8f8;
       border-top-left-radius: 20px;
       border-bottom-left-radius: 20px;
       padding: 0 30px;
       cursor: pointer;
   }
   
   .container h1 {
    position: absolute;
  top: 20px; /* Separación del borde superior */
  left: 50%; /* Posición horizontal centrada */
  transform: translateX(-50%); /* Centra el texto respecto a su propia mitad */
  font-size: 2.5rem;
  color: #333;
   }
   
   .container p{
       color: #555;
   
   }
   
   #register-form {
       margin: 30px 0 0 0;
       width: 100%;
       max-width: 450px;
       padding: 100px 70px 80px;
       text-align: center;
   }
   
   #register-form input {
       display: flex;
       align-items: center;
       margin-bottom: 15px;
       border-radius: 20px;
       padding: 0 10px;
       box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
   }
   
   #register-form button  {
       background: #f8f8f8;
       cursor: pointer;
       border: none;
       padding: 16 px 32 px;
       color: black;
       font-size: 24px;
       font-weight: bold;
       position: relative;
       border-radius: 12px;
   }

   @media (max-width: 480px) {
    .container {
      border-radius: 10px; /* Redondeado más pequeño */
      box-shadow: none; /* Elimina la sombra para un diseño más simple */
    }
  
    #register-form {
      padding: 30px 10px;
    }
  
    #register-form input {
      font-size: 14px; /* Reduce el tamaño del texto */
    }
  
    #register-form button {
      font-size: 18px; /* Botón más pequeño */
      padding: 10px;
    }
  
    .container h1 {
      font-size: 1.5rem;
    }
  }